@font-face {
  font-family: coolFont;
  src: url('../fonts/Halloween\ Night.otf');
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Mali', cursive;
}

/* NAV BAR */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background-color: none;
  z-index: 9;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li a {
  margin: 0 15px;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 400px;
  transition: 0.6s;
  list-style: none;
}

/* BUTTON */

.myBtn {
  cursor: pointer;
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/*BACKGROUND COLOUR ON BUTTON*/
.navbar a:hover,
.myBtn, 
.myBtn:focus {
  background-color: rgb(39, 130, 172);
  border-radius: 20px;
}

/* MODAL */

/* MODAL BACKGROUND */
.modal {
  display: none;
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* MODAL CONTENT */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* CLOSE BUTTON */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*FOR LOCAL STORAGE FUNCTIONALITY*/
#favWebBox {
  height: 15%;
  width: 100%;
  position: absolute;
  top: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.websiteBoxClass {
  height: 100px;
  width: 100px;
  color: white;
  position: relative;
  margin-left: 2%;
  margin-right: 2%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10%;
}
.websiteBoxClass:hover {
  background: rgba(0, 0, 0, 0.473);
  cursor: pointer;
}
.shortNameBox {
  height: 25%;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  text-shadow: 2px 2px black;
}
.faviBox {
  height: 50%;
  width: 50%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.527);
}
.deleteBtn {
  position: absolute;
  top: 0;
  right: 0;
}

#inputBoxes {
  height: 30%;
  width: 100%;
  position: relative;
  top: 20%;
  z-index: 99;
  /* left: 10%; */
  /* ↑ this is affecting the width of whole page */
}

/* clock */
#date {
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
}

/* ground */

#ground {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 5;
  bottom: -1%;
  left: 0%;
}

img {
  width: 100%;
}

/* background */

#wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
}

.noStars {
  display: none;
}

.stars-inTheSky-halfopacity {
  opacity: 0.5;
}

#stars {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#stars ellipse {
  animation: shine 3500ms ease-in-out infinite;
}

.s1 {
  animation: shine 2000ms 1000ms ease-in-out infinite;
}

.s2 {
  animation: shine 3000ms 500ms ease-in infinite;
}

@keyframes shine {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.1;
  }
  75% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.beam {
  animation: scale 3s linear;
}

@keyframes spinSun {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(0.6);
  }
}

.star1 {
  animation: shine 3000ms ease-in-out infinite;
}
.star2 {
  animation: shine 2000ms 1000ms infinite;
}

@keyframes partialRotate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(1.5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-1.5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/*TEMPORARY SUN/MOON*/
#sunContainer {
  height: 20%;
  width: 20%;
  transform: translate(-50%, 0);
  position: absolute;
  z-index: 100;
  transition: top 55s, left 55s;
}
#sunBox {
  height: 100%;
  width: 100%;
  animation: spinSun 10000ms linear infinite;
}

#moonContainer {
  height: 30%;
  width: 30%;
  transform: translate(-50%, 12%);
  position: absolute;
  z-index: 100;
}
#moonBox {
  height: 100%;
  width: 100%;
  animation: partialRotate 10000ms linear infinite;
  animation-direction: alternate;
}
