html,body {
    height:100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* NAV BAR */
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;;
    background-color: black;
  }

  header ul {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  
  header ul li a{
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 400px;
    transition: 0.6s;
  }
  
  .websiteBoxClass {
    height:100px;
    width:100px;
    background:blue;
    color:white;
    position:absolute;
    top:30%;
}
#inputBoxes {
    height:30%;
    width:100%;
    position:relative;
    top:20%;
    left:10%;

}
