.stage_0 {
  background: rgb(135, 181, 252);
}
.stage_1 {
  background: rgb(119, 159, 219);
}
.stage_2 {
  background: rgb(102, 137, 189);
}
.stage_3 {
  background: rgb(80, 107, 148);
}
.stage_4 {
  background: rgb(58, 78, 107);
}
.stage_5 {
  background: rgb(36, 48, 66);
}

#particles-js {
  position: fixed; /*描画固定*/
  z-index: -1; /*描画を一番下に*/
  width: 100%;
  height: 100%;
  background-color: transparent; /*背景色*/
}

#wrapper {
  position: relative; /*描画を#particles-jsよりも上にするためposition:relative;を指定*/
  z-index: 1; /*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
  width: 100%;
  height: 100%;
}
